body { 
    background-color: white;
    font-family: Arial, sans-serif; 
    text-align: center;
    
}



.container img {
    max-width: 15%;
    max-height: 15%;
    object-fit: contain;
    padding: 20px 50px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin-top: 1em;
}

h1, h2 { 
    color: #006600;
    font-size: 25px;
    margin-bottom: 20px; 
}

input { 
    width: 70%;
    border-radius: 5px;
    padding: 10px; 
    border: 1px solid #009900;
}

.btn-primary { 
    background-color: #009900; 
    color: white; 
    padding: 11px 25px; 
    border: none; 
    border-radius: 5px;  
    text-align: center;
    cursor: pointer;
    text-decoration: none; 
    font-weight: bold; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.btn-primary:hover { 
    background-color: #006600; 
    transform: scale(1.05); 
}

.btn-secondary { 
    background-color: #f8f8f8; 
    color: black; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    width: 30%; 
    margin: 10px 4%; 
    cursor: pointer; 
    text-decoration: none; 
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.btn-secondary:hover { 
    background-color: #aaaaaa; 
}

.button-group {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
}
.search-results {
    list-style-type: none;
    padding: 0;
}

.search-results li {
    margin-bottom: 1em;
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
}

